.believe {
  margin-top: 20px;
  padding: 10px;

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px grey;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    padding: 20px;
  }
}

.title {
  margin-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.list {
  display: flex;
  flex-direction: column;

  list-style: none;
}
