.photo {
  width: 200px;
  height: 200px;
  margin: 20px auto;

  object-fit: cover;

  box-shadow: 2px 2px 5px grey;

  transition: transform 0.2s;
}

.photo:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 0;
}
