.program {
  margin-top: 20px;
  padding: 10px;

  background-color: #ffffff;
  box-shadow: 5px 5px 10px grey;

  border-radius: 10px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    padding: 10px;

    background-color: #ffffff;
    box-shadow: 5px 5px 10px grey;

    border-radius: 10px;
  }
}

.title {
  margin-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.text {
  text-align: justify;
}

.subjects-container {
  margin-top: 20px;
  padding: 10px;

  background-color: #ffffff;

  border: 3px solid #212063;
  border-radius: 8px;
}

.subtitle {
  margin-bottom: 20px;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.subject-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-left: 20px;

  list-style-type: "\1F4D6";

  @media screen and (min-width: 768px) {
    height: 210px;
  }

  @media screen and (min-width: 1200px) {
    height: 210px;
  }
}
