.events {
  display: flex;
  flex-direction: column;

  padding: 40px 10px 40px 10px;

  background-color: #f2f2f2;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;

    padding: 70px 20px 20px 20px;
  }
}

.title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 34px;
  }
}

.events-list {
  display: flex;
  flex-direction: column;

  margin-top: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
