.footer {
  position: fixed;

  left: 0;
  bottom: 0;

  width: 100%;

  display: flex;
  justify-content: center;

  height: 20px;

  background-color: #212063;
}

.footer:hover {
  height: 70px;
}

.contacts-list {
  display: flex;
}

.contacts-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.icon {
  width: 40px;
}

.description {
  margin-left: 25px;

  font-size: 20px;
}
