.item {
  width: 100%;
  margin-bottom: 30px;
}

.photo {
  float: left;
  margin: 0 10px 10px 0;

  border-radius: 5px;
}

.article {
  margin-top: 20px;

  text-align: justify;
  font-size: 16px;
}

.sign {
  text-align: right;

  font-style: italic;
  font-size: 14px;
}
