.message-presedent {
  padding: 10px;

  border-radius: 10px;

  background-color: #ffffff;
  box-shadow: 5px 5px 10px grey;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    margin-top: 15px;
    padding: 20px;
    width: 50%;
  }
}

.title {
  margin-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.photo {
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 150px;

  border-radius: 5px;
}

.text {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  box-orient: vertical;

  text-align: justify;
}

.sign {
  text-align: right;

  font-style: italic;
  font-size: 14px;
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 40px;
  margin: 10px auto 0 auto;

  border: 3px solid #212063;
  border-radius: 8px;
  text-decoration: none;
  color: #212063;
  text-decoration: none;

  font-weight: 700;

  transition: transform 0.2s;
}

.read-more:hover {
  cursor: pointer;
  transform: scale(1.1);
}
